body {
    font-family: 'Open Sans', sans-serif;
    background: black;
}

#container {
    width: 1000px;
    height: 550px;
    margin: 20px auto;
background-image: linear-gradient( rgba(7, 190, 231, 0.3),rgba(14, 14, 234, 0.3));
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: #3f413fe4;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow:0 4px 8px 0  (rgba (0, 0, 0, 0.3), rgba (0, 0, 0, 0.3)) ;

}

#result  {
    height: 120px;
}

#keyboard {
    height: 400px;
}

.operator, .number, .empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0px;
    font-weight: bold;
    font-size: 15px;
}

.number.empty {
    background-color: #000000;
}

.number , .operator {
    cursor: pointer;
}

.operator:active , .number:active {
    font-size: 13px;
}
.operator:focus, .number:focus ,.empty:focus {
    outline: 0;
}

#result {
    height: 120px;
}
#history{
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}
#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}
button:nth-child(4) {
    font-size: 20px;
    background-color: darkslateblue;
    
}
button:nth-child(8) {
    font-size: 20px;
    background-color: crimson;
}
button:nth-child(12) {
    font-size: 20px;
    background-color: dodgerblue;
}
button:nth-child(16) {
    font-size: 20px;
    background-color: darkmagenta;
}
button:nth-child(20) {
    font-size: 20px;
    background-color: darkorange;
}





