body {
    font-family: 'Open Sans', sans-serif;
    background: black;
}

#container {
    width: 1000px;
    height: 550px;
    margin: 20px auto;
background-image: linear-gradient( rgba (0,0,0,0.3),rgba (0, 0, 0, 0.3)),url ('A.jpg');
}