.container {
  margin: 5% 5%;
  padding: 10px 30px;
  border: 1px  grey solid;
  border-radius: 12px;
  background-color: #fff;
  min-width: 200px;
  width: 220px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
  padding-right: 20px;
}
.btn {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 21px;
  background-image: linear-gradient(to left bottom, #ffb347, #ee9cfe, #47ff5f);
  color: #fff;
}
